body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mi-api {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  padding: 16px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: black;
}

.mi-api h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.mi-api p {
  text-align: center;
  font-size: 18px;
  margin: 8px 0;
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}

.form-group {
  display: flex;
  margin: 150px auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-control {
  width: 250px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
  border: 1px solid white;
}

.form-control::placeholder {
  color: white;
}

.resultados,
.form-group {
  border: 1px solid white;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px; /* Aumentar el espacio entre los elementos */
}

.pre-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;                                   
}