.mi-api {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.mi-api h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.mi-api p {
  margin: 8px 0;
  font-size: 18px;
}